<h1>
  <a href="{{ pathto(master_doc) }}">ustache</a>
</h1>
<ul>
  <li>
    <a href="http://gitlab.com/ergoithz/ustache">ustache at GitLab</a>
  </li>
  <li>
    <a href="http://pypi.python.org/pypi/ustache">ustache at PyPI</a>
  </li>
  <li>
    <a href="http://gitlab.com/ergoithz/ustache/issues">Issue tracker</a>
  </li>
</ul>
<!--versions-->
